@import url(fonts/clear-sans.css);

html, body {
  margin: 0;
  padding: 0;
  background: #faf8ef;
  color: #776e65;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px; 
}

.container {
  width: 500px;
  margin: 0 auto; }

/*.heading {
    overflow: hidden;
}*/

.heading {
  text-align: justify;
  
}

.heading:after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    font-size:0;
    line-height:0;
}

.title {
    display: inline-block;    
}

.scores-container {
  display: inline-block;
}

.score-container, .best-container, .record-container {
  position: relative;
  display: inline-block;
  background: #bbada0;
  padding: 15px 25px;
  font-size: 25px;
  height: 30px;
  line-height: 47px;
  font-weight: bold;
  border-radius: 3px;
  color: white;
  margin-top: 20px;
  text-align: center; }

.score-container:after, .best-container:after, .record-container:after {
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #eee4da;}

.score-container:after {
  content: "Score"; }

.best-container:after {
  content: "Best"; }

.record-container:after {
  content: "Record"; }



.intro {
  text-align: justify;
  margin: 0; }
 
input{
  width:4.0em;
  display: inline-block;
  font-size:1.2rem;
  margin: .1em;
  border: .1em solid #776e65;
  padding: .5rem .5rem;
  font-family: 'Lucida Sans Unicode','Lucida Grande',Tahoma,sans-serif;
  text-align: center;
  border-radius: .3em;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

}

input:focus {
  color: #776e65;
  border-radius: .3em;
  border-bottom: 6px solid #FF9933; /*#3DC1FF*/
  outline: none
}

.game-container, #game-info, #userinput {
  border: 0px solid #FF9933;
}

#game-info {
  display: block;
  text-align: center;
  vertical-align: middle;

}

#userinput{
  display: block;
  text-align: center;
  vertical-align: middle;
  
}


@media screen and (max-width: 520px) {
  html, body {
    font-size: 15px; }

  body {
    margin: 0;
    padding: 0 0.5em; }

  h1.title {
    font-size: 27px;
    margin: 0px 10px; }

  .container, .heading, .title, .scores-container {
    border: 0px solid #444;
  }

  .container {
    width: 100%;
    margin: 0 auto; }

  .score-container, .best-container, .record-container {
    margin-top: 0;
    padding: 8px 6px;
    font-size: 15px;
    min-width: 40px; }

  .heading {
    margin-top: 10px; 
    margin-bottom: 0 ;
  }
  .scores-container {
    margin: 0px 10px;
  }

  .game-intro {
    width: 55%;
    display: block;
    box-sizing: border-box;
    line-height: 1.65; }

  button {
    width: 40px;
    height: 40px;
    font-size: 18px;
    padding: 0;
    text-align: center;
    color: #776e65;
    background-color: #faf8ef;
    -webkit-appearance: none;
    border-radius: 3px;
  }

  p {
    margin: 5px 0;
  }
 
  #del, #enter {
    width: 80px;
    font-size:15px;
  }

}
